<header>
    <div class="top-header">
        <div class="logo"> 
            <a href="/"><img src="images/logo-mercado-liebre.svg" alt="" srcset=""></a>
        </div>
        <div class="busqueda">
        <input type="text" placeholder="Buscar productos, marcas" /><button>
            <i class="fa fa-search"></i></button>
        </div>

        <p class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav class="opciones">
        <ul class="nav-bar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="login-bar">
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>